:root {
  --color-primary-100: #ecfaf4;
  --color-primary-200: #d4f4e7;
  --color-primary-300: #a9e8cf;
  --color-primary-400: #7ddcb7;
  --color-primary-500: #68d3ac;
  --color-primary-600: #4db88f;
  --color-primary-700: #2f9a73;
  --color-primary-800: #1f7558;

  --color-neutral-100: #f5f8fa;
  --color-neutral-200: #e5edf2;
  --color-neutral-300: #c8d7e1;
  --color-neutral-400: #9db3c4;
  --color-neutral-500: #6f889d;
  --color-neutral-600: #4f677e;
  --color-neutral-700: #2f4760;
  --color-neutral-800: #022339;
  --color-neutral-900: #011625;

  --color-success-100: #ecfaf4;
  --color-success-400: #68d3ac;
  --color-success-800: #2f9a73;

  --color-warning-100: #fff5df;
  --color-warning-400: #fdb82c;
  --color-warning-800: #996602;

  --color-error-100: #fde8e8;
  --color-error-400: #e67171;
  --color-error-800: #9b2d30;

  --color-neutral-700-rgb: 47, 71, 96;
  --color-neutral-800-rgb: 2, 35, 57;
  --color-error-800-rgb: 155, 45, 48;

  --primary-color: var(--color-primary-700);
  --secondary-color: var(--color-neutral-500);
  --background-color: var(--color-neutral-200);
  --text-color: var(--color-neutral-700);
  --text-color-rgb: var(--color-neutral-700-rgb);
}
